body {
    font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
    margin: 0 0 4em 0;
}

h1 {
    color: #666;
    font-size: 1.25em;
    text-align: right;
    position: absolute;
    top: 0;
    right: 1em;
}

a:link, a:visited {
    color: #666;
    border-bottom: 1px solid #8847de;
    text-decoration: none;
}

table.section {
    width: 100%;
    border: none;
    border-collapse:collapse;
    padding-bottom: 2em;
}

td {
    padding: 0.25em 10px;
    line-height: 1.75em;
    border: none;
    border-collapse: collapse;
    vertical-align: top;
    /*border-bottom: 1px solid rgb(210,137,227);*/
}

tr.emphasis td {
    font-size: 1.5em;
    line-height: 1.25em;
    padding: 0 10px 0.2em 10px;
}

tr.separator {
    height: 0px;
}

tr.separator td {
    height: 0;
    padding: 0;
    border: none;
}

tr.separator td.label {
    background-color: white;
}

hr {
    height: 0px;
    border: none;
    background: transparent;
}

.section_header th {
    font-size: 1.5em;
    line-height: 1.75em;
    text-align: right;
    padding-right: 1em;
    padding-top: 2.5em;
    border-bottom: 5px solid rgb(210,137,227);
    background-color: white;
}

table.section:first-of-type .section_header th {
    padding-top: 3em;
}

.section_header .empty {
    /*background-color: rgb(210,137,227);*/
    border-bottom: 5px solid white;
}

.section .item:first-child td, tr.separator + .item td {
    padding-top: 1.5em;
}

.item .label {
    color: #666;
    min-width: 150px;
    /*background-color: rgb(210,137,227);*/
    /*border-bottom: 1px solid white;*/
    text-align: right;
    margin-right: 2em;
    width: 21%;
}
